
  <div class="row">
    <div class="col-4">
      <form>

        <div class="form-group mb-2">
          <label>Book Isbn</label>
          <input type="number" class="form-control" #bookIsbn required>
        </div>

        <div class="form-group mb-2">
          <label>Book Title</label>
          <input type="text" class="form-control" #bookTitle required>
        </div>

        <div class="form-group mb-2">
          <label>Book Desc</label>
          <textarea rows="3" #bookDesc></textarea>
        </div>

        <div class="form-group mb-2">
          <label>Book Author</label>
          <input type="text" class="form-control" #bookAuthor required>
        </div>

        <div class="form-group mb-2">
          <label>Book Price</label>
          <input type="number" class="form-control" #bookPrice required>
        </div>

        <div class="form-group">
          <button (click)="onBookCreated(bookIsbn.valueAsNumber,bookTitle.value,bookDesc.value,bookAuthor.value,bookPrice.valueAsNumber,true)" type="button" class="btn btn-sm btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-sm btn btn-primary">Cancel</button>
        </div>


      </form>


    </div>
  </div>

<app-bookdisplay></app-bookdisplay>


