
  <div class="row">
    <div class="col-12">
      <div class="form">

        <div class="form-group mb-2">
          <label>Enter your name:</label>
          <input type="text" class="form-control" #username required>
        </div>

        <div class="form-group">
          <select class="form-select form-select-lg mb-3" #userstatus>
            <option selected disabled>Select the status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </div>

        <div class="form-group">
          <button (click)="onUserCreated(username.value,userstatus.value)" type="button" class="btn btn-sm btn btn-primary">Add</button>
        </div>

      </div>
    </div>
  </div>
  <app-userdisplay [student]="student" [id]="id" (onStatusEvent) ="GetData($event)"></app-userdisplay>



