<div class="row">
  <div class="col-3">
    <div class="sidebar-wrapper">
      <ul class="nav flex-column fixed">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/personal" routerLinkActive="router-link-active">Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/professional" routerLinkActive="router-link-active">Professional Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/attachments" routerLinkActive="router-link-active">Attachments</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-9">
    <div class="card mt-2 p-2 center-div col-md-12">
      <div class="card-title">
        
      </div>
      <div class="card-body">
        <h5 class="card-title">Steps to fill the form</h5>
        <p class="card-text">In order to fill up Online application form in Railways candidates need to visit the official
          website i.e. www.indianrailways.gov.in.</p>
          <ul>
            <li> After reaching homepage candidates need to select and hit on appropriate zone link</li>
            <li>A new homepage of that chosen railway zone will appear in front of you</li>
            <li>Select and hit on recruitment tab available at that new homepage</li>
            <li>From the next screen choose the notification link and then hit on apply online tab</li>
            <li>Now if you are a new user then hit on Registration tab</li>
          </ul>

          <br>
        <b>REGISTRATION:</b>

          <li>Fill up the online registration form and complete all the details</li>
          <li>Check out your mail/Phone number and note down the registration ID</li>

          <br>
        <b>APPLICATION LOG IN:</b>

        <li> After reaching homepage candidates need to select and hit on appropriate zone link</li>
        <li>A new homepage of that chosen railway zone will appear in front of you</li>
        <br>
        <p>Upload required testimonials according to the size prescribed and then move towards the paying option</p>
        <br>
        <a href="#" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
