<div class="row">
  <div class="col-3">
    <div class="sidebar-wrapper">
      <ul class="nav flex-column fixed">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/personal" routerLinkActive="router-link-active">Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/professional" routerLinkActive="router-link-active">Professional Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/attachments" routerLinkActive="router-link-active">Attachments</a>
        </li>
      </ul>
    </div>
  </div>
    <div class="col-9">
      <form [formGroup]="personalForm" (ngSubmit)="onSubmit(personalForm)">
        <div class="panel center-div mt-3">
            <div class="panel-header">
               <h5 class="panel-title text-center p-2">Registration Form</h5>
               <hr>
            </div>
               <div class="panel-body center-div">
                 <div class="row">
                   <div class="col">
                        <div class="form-group">
                          <label for="fname" class="col-sm-4 col-form-label">First Name</label>
                          <div class="col-sm-12">
                            <input type="text" class="form-control" id="fname" formControlName="fname" placeholder="">
                            <span *ngIf="!personalForm.get('fname')?.valid && personalForm.get('fname')?.touched" class="help-block">This field is mandatory</span>
                          </div>
                        </div>

                          <div class="form-group">
                            <label for="lname" class="col-sm-4 col-form-label">Last Name</label>
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="lname" formControlName="lname" placeholder="">
                              <span *ngIf="!personalForm.get('lname')?.valid && personalForm.get('lname')?.touched" class="help-block">This field is mandatory</span>
                            </div>
                          </div>


                          <div class="form-group">
                            <label for="" class="col-sm-4 col-form-label">Email Id</label>
                            <div class="col-sm-12">
                              <input type="email" class="form-control" id="email" formControlName="email" placeholder="" >
                              <span *ngIf="!personalForm.get('email')?.valid && personalForm.get('email')?.touched" class="help-block">This field is mandatory</span>
                              <span *ngIf="personalForm.get('email')?.errors?.email" class="help-block">Enter valid email id</span>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="" class="col-sm-4 col-form-label">Phone No.</label>
                            <div class="col-sm-12">
                              <input type="number" class="form-control" id="phonenum" formControlName="phonenum" placeholder="">
                              <span *ngIf="!personalForm.get('phonenum')?.valid && personalForm.get('phonenum')?.touched" class="help-block">This field is mandatory</span>
                              <!-- <span *ngIf="personalForm.get('phonenum')?.errors?.pattern" class="help-block"> Enter valid phone number</span> -->
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-12">
                              <textarea class="form-control" id="address" rows="3" formControlName="address"></textarea>
                              <span *ngIf="!personalForm.get('address')?.valid && personalForm.get('address')?.touched" class="help-block">This field is mandatory</span>
                              <span *ngIf="!personalForm.get('address')?.errors?.minlength && personalForm.get('address')?.errors?.maxlength" class="help-block">Enter valid phone number of length 10</span>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-sm-12">
                              <label for=""  class="col-md-2 col-form-label">Country:</label>
                                <select id="country"  class="form-control" formControlName="country" (change)="updateState($event)">
                                  <option selected disabled >--Select a country--</option>
                                  <option *ngFor="let country of countries" value="{{country}}">{{ country }}</option>
                                </select>
                                <span *ngIf="!personalForm.get('country')?.valid && personalForm.get('country')?.touched" class="help-block">This field is mandatory</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-sm-12">
                                <label for=""  class="col-md-2 col-form-label">State:</label>
                                <select id="state" name=""  class="form-control" formControlName="state">
                                  <option selected disabled>--Select a state--</option>
                                  <option *ngFor="let state of states" value="{{state}}">{{ state }}</option>
                                </select>
                                <span *ngIf="!personalForm.get('state')?.valid && personalForm.get('state')?.touched" class="help-block">This field is mandatory</span>
                              </div>
                          </div>



                        <div class="panel-footer p-4 center-div">
                          <div class="form-group">
                            <div class="btn btn-group">
                              <button type="button" (click)="onNext()" class="btn btn-primary">Next</button>

                              <!-- <button type="submit" [disabled]="!personalForm.valid" class="btn btn-primary">Next</button> -->
                            </div>
                            <div class="btn btn-group">
                              <button type="reset" class="btn btn-primary">Cancel</button>
                            </div>
                        </div>
                        </div>

          </div>
        </div>
        </div>
        </div>

      </form>
    </div>
</div>


