<div class="panel">
  <div class="panel-header">
     <h5 class="panel-title">Edit Book</h5>
  </div>
     <div class="panel-body">
       <div class="row">
         <div class="col">
           <form id="myform">

             <div class="mb-3">
               <label class="form-label">Book Isbn:</label>
               <input type="number" class="form-control" #bookIsbn value="{{books[index].bookIsbn}}" disabled>
             </div>

             <div class="mb-3">
               <label class="form-label">Book Title:</label>
               <input type="text" class="form-control" #bookTitle value="{{books[index].bookTitle}}" disabled>
             </div>

             <div class="mb-3">
               <label class="form-label">Book Description:</label>
               <textarea class="form-control" rows="3" #bookDesc value="{{books[index].bookDesc}}" required></textarea>
             </div>

             <div class="mb-3">
               <label class="form-label">Book Author:</label>
               <input type="text" class="form-control" #bookAuthor value="{{books[index].bookAuthor}}" disabled>
             </div>

             <div class="mb-3">
               <label class="form-label">Book Price:</label>
               <input type="number" class="form-control" #bookPrice value="{{books[index].bookPrice}}" required>
             </div>

             <div class="mb-3">
               <label class="form-label">Book Image:</label>
               <input type="file" class="form-control"  name="image" #bookImg value="{{books[index].bookImage}}">
               <!-- <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div> -->
             </div>

           </form>

         </div>
       </div>
     </div>

     <div class="panel-footer">
       <button type="reset" id="cancel" class="btn btn-secondary">Cancel</button>
       <button type="button" class="btn btn-primary" (click)="onBookUpdate(bookDesc.value,bookPrice.valueAsNumber)">Update</button>
     </div>
   </div>

